<section class="max-w-6xl mx-auto">
<div class="flex justify-between items-center mt-6 mb-2">
    <button
      class="flex items-center bg-[#014455] text-white px-4 py-2 rounded hover:bg-[#026077] transition"
      [routerLink]="['/dashboard/service/new']"
    >
      <img src="newFile.svg" alt="Añadir" class="w-5 h-5 mr-2" />
      Nuevo servicio
    </button>
    <h2 class="text-2xl font-bold tracking-widest my-4 text-center">
    Servicios VD Logistics
  </h2>
  </div>
  <hr class="my-4 border-slate-300">

  @if (isLoading) {
  <img src="spinner.gif" alt="Cargando ..." />
  } @else {

  <mat-tab-group
    (selectedIndexChange)="onTabChange($event)"
    [selectedIndex]="activeTabIndex"
  >
    @for (status of statusTabs; track status) {
    <mat-tab>
      <ng-template mat-tab-label>
        <span [ngClass]="activeTabIndex !== $index ? 'opacity-40' : ''">
          {{ status.label }}
        </span>
      </ng-template>

      @if (services.length) {
      <div class="overflow-x-auto rounded-lg shadow mt-4">
        <table class="min-w-full text-sm border border-slate-300 bg-white">
          <thead>
            <tr class="bg-[#014455] text-white text-left">
              <th class="px-4 py-2">ID</th>
              <th class="px-4 py-2">Fecha</th>
              <th class="px-4 py-2">Operario</th>
              <th class="px-4 py-2">Tipo</th>
              <th class="px-4 py-2">Cliente</th>
              <th class="px-4 py-2">Población</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-slate-300">
            @for ( service of services | paginate: { itemsPerPage: 10,
            currentPage: currentPage }; track service.id ) {
            <tr class="hover:bg-slate-100 text-left cursor-pointer">
              <td class="px-4 py-3">{{ service.id }}</td>
              <td class="px-4 py-3">{{ service.dateFormatted }}</td>
              <td class="px-4 py-3">{{ service.operatorName }}</td>
              <td class="px-4 py-3">{{ service.type }}</td>
              <td class="px-4 py-3">{{ service.customerName }}</td>
              <td class="px-4 py-3">{{ service.city }}</td>
            </tr>
            }
          </tbody>
        </table>

        <pagination-controls
          (pageChange)="currentPage = $event"
          [autoHide]="true"
          class="mt-4 flex justify-center"
        />
      </div>
      } @else {
      <p class="text-center text-gray-500 my-6">
        No hay servicios con estado: <strong>{{ status.status }}</strong>
      </p>
      }
    </mat-tab>
    }
  </mat-tab-group>
  }
</section>
