<aside class="bg-[#014455] min-h-screen z-10 text-slate-100 w-64 left-0 h-screen fixed">
  <div class="my-4 px-6">
    <img src="logo.png" alt="Logo VD Logistics" class="w-26" aria-label="Logo VD Logistics">
  </div>
  <hr>
  <ul class="py-2">
    @for (item of menuItems; track $index) {
      <a
      [routerLink]="item.path"
      routerLinkActive="bg-[#49717a]"
      class="w-full ps-4 inline-flex space-x-4 my-2 py-2 items-center border-b border-slate-700 hover:bg-white/5 transition ease-linear duration-150"
    >
      <div class="flex flex-col">
        <span class="text-xl leading-5 font-medium">{{item.title}}</span>
      </div>
    </a>
    }
  </ul>
  <hr> <br>
  <p class="ps-2 text-sm">Usuario:<span class="font-medium tracking-wider"> {{userName}}</span></p>
  <button (click)="logout()" class="my-4 ms-4 px-4 py-1 rounded-lg bg-[#9dedce] text-[#014455] hover:bg-[#49717a] hover:text-[#9dedce]">Cerrar sesión</button>
</aside>
