<section class="max-w-6xl mx-auto">
  <div class="flex justify-between items-center mt-6 mb-2">
    <button
      class="flex items-center bg-[#014455] text-white px-4 py-2 rounded hover:bg-[#026077] transition"
      [routerLink]="['/dashboard/customer/new']"
    >
      <img src="newFile.svg" alt="Añadir" class="w-5 h-5 mr-2" />
      Añadir Nuevo
    </button>
    <h2 class="text-2xl font-bold tracking-widest my-4 text-center">
      Clientes VD Logistics
    </h2>
  </div>
  <hr class="my-4 border-slate-300" />

  @if (isLoading) {
  <img src="spinner.gif" alt="Cargando ..." />
  } @else {
  <div class="overflow-x-auto rounded-lg shadow">
    <table class="min-w-full text-sm border border-slate-300 bg-white">
      <thead>
        <tr class="bg-[#014455] text-white text-left">
          <th class="px-4 py-2">ID</th>
          <th class="px-4 py-2">Nombre</th>
          <th class="px-4 py-2">Teléfono</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Dirección</th>
          <th class="px-4 py-2">Info adicional</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-slate-300">
        @for (customer of customers| paginate: { itemsPerPage: 10, currentPage:
        currentPage }; track customer.id) {
        <tr class="hover:bg-slate-100 text-left cursor-pointer" [routerLink]="['/dashboard/customer', customer.id]">
          <td class="px-4 py-3">{{ customer.id }}</td>
          <td class="px-4 py-3">
            {{ customer.firstName }} {{ customer.lastName }}
          </td>
          <td class="px-4 py-3">{{ customer.phone }}</td>
          <td class="px-4 py-3">{{ customer.email }}</td>
          <td class="px-4 py-3">{{ customer.address }}</td>
          <td class="px-4 py-3">{{ customer.addressAdditional }}</td>
        </tr>
        }
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="currentPage = $event"
      [autoHide]="true"
      class="mt-4 flex justify-center"
    />
  </div>
  }
</section>
