<section class="max-w-6xl mx-auto">
  <h2
    class="text-2xl font-bold tracking-widest my-4 text-center text-[#014455]"
  >
    Clientes VD Logistics
  </h2>

  @if (isLoading) {
  <img src="spinner.gif" alt="Cargando ..." />
  } @else {
  <div class="overflow-x-auto rounded-lg shadow">
    <table class="min-w-full text-sm border border-slate-300 bg-white">
      <thead>
        <tr class="bg-[#014455] text-white text-left">
          <th class="px-4 py-2">ID</th>
          <th class="px-4 py-2">Nombre</th>
          <th class="px-4 py-2">Teléfono</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Dirección</th>
          <th class="px-4 py-2">Info adicional</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-slate-300">
        @for (customer of customers| paginate: { itemsPerPage: 10, currentPage:
        currentPage }; track customer.id) {
        <tr class="hover:bg-slate-100 text-left cursor-pointer">
          <td class="px-4 py-3">{{ customer.id }}</td>
          <td class="px-4 py-3">
            {{ customer.firstName }} {{ customer.lastName }}
          </td>
          <td class="px-4 py-3">{{ customer.phone }}</td>
          <td class="px-4 py-3">{{ customer.email }}</td>
          <td class="px-4 py-3">{{ customer.address }}</td>
          <td class="px-4 py-3">{{ customer.addressAdditional }}</td>
        </tr>
        }
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="currentPage = $event"
      [autoHide]="true"
      class="mt-4 flex justify-center"
    />
  </div>
  }
</section>
